#img-bg{

    background-image: url("https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG9mZmljZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");

    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}